<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
    <!--<![endif]-->


</head>

<body style="background-color:#cfe2f3; padding:80px;">
    <div class="es-wrapper-color">
        <!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" src="" color="#cfe2f3"></v:fill>
    </v:background>
    <![endif]-->
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="esd-email-paddings" valign="top">
                        <table class="es-header es-preheader esd-header-popover" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="es-adaptive esd-stripe" esd-custom-block-id="3496" align="center">
                                        <table class="es-content-body" style="background-color: rgb(232, 232, 228);"
                                            width="600" cellspacing="0" cellpadding="0" bgcolor="#e8e8e4" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p25t es-p25b es-p15r es-p15l"
                                                        esd-general-paddings-checked="false" align="left" bgcolor="#ffffff"
                                                        style="background-color: rgb(255, 255, 255);"
                                                        esd-custom-block-id="3834">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="580" valign="top"
                                                                        align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="padding:20px;">
                                                                                        <a target="_blank"> <img class="adapt-img"
                                                                                                src="https://demo.stripo.email/content/guids/dec4e728-1341-4c5d-af64-7d00f5ad39da/images/18121511413822843.png"
                                                                                                alt="" width="200"> </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-header" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="es-adaptive esd-stripe" esd-custom-block-id="3497" align="center">
                                        <table width="600" cellspacing="0" cellpadding="0" bgcolor="#f64d52" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure" esd-general-paddings-checked="false"
                                                        esd-custom-block-id="3502" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" style="padding:10px;"
                                                                        width="580" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" class="esd-block-image">
                                                                                        <span style="font-weight: 400; font-family: 'trebuchet ms', 'lucida grande', 'lucida sans unicode', 'lucida sans', tahoma, sans-serif; padding-bottom: 0px; font-size: 22px; color: #FFF;">Advance
                                                                                            payment booking</span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="3498" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0"
                                            bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p30t es-p30b es-p30r es-p30l"
                                                        esd-general-paddings-checked="false" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:20px;" class="esd-container-frame"
                                                                        width="580" valign="top" align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p10t es-m-txt-c"
                                                                                        align="left">
                                                                                        <p style="line-height: 21px;"><span
                                                                                                style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:16px; font-weight:normal;">A
                                                                                                guest has made an
                                                                                                advance payment and
                                                                                                secured your space for
                                                                                                an event. The details
                                                                                                of the reservation is
                                                                                                given below.</span></p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="3498" align="center">
                                        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0"
                                            bgcolor="#ffffff" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p20t es-p30r es-p30l"
                                                        esd-general-paddings-checked="false" align="left" ;>
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="580" valign="top"
                                                                        align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p10t es-m-txt-c"
                                                                                        align="left">
                                                                                        <table width="100%" border="0"
                                                                                            cellpadding="5" style="padding:0px;">
                                                                                            <tr>
                                                                                                <td width="30%"><strong><span
                                                                                                            style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Reference
                                                                                                                ID</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal;">${BookingId}</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="30%"><strong><span
                                                                                                            style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Space
                                                                                                                Name</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; font-size: 14px">${SpaceName}</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><strong><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Location</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal;">
                                                                                                        ${OrganizationName}</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><strong><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Address</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal;">
                                                                                                        <a href="${AddressLink}">${Address}</a></span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><strong><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Guest
                                                                                                                Name</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal;">
                                                                                                        ${GuestName}</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><strong><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;"><span
                                                                                                                style="color:#09F; font-weight:500;">Date</span></span></td>
                                                                                                <td><span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal;">${Date}</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td valign="top">
                                                                                                    <strong>
                                                                                                        <span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:10px;">
                                                                                                            <span style="color:#09F; font-weight:500;">Time</span>
                                                                                                        </span>
                                                                                                </td>
                                                                                                <td>#foreach($data in
                                                                                                    $Times.keySet())
                                                                                                    <span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:12px; font-weight:normal;">
                                                                                                        <span style="padding-right:20px;">
                                                                                                            <strong>$data
                                                                                                                -
                                                                                                                $Times[$data]
                                                                                                            </strong>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                    #end </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td valign="baseline">
                                                                                                    <strong>
                                                                                                        <span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:14px; font-weight:normal; padding:20px 10px 0px 10px;">
                                                                                                            <span style="color:#09F; font-weight:500;">Chargeable
                                                                                                                Amenities</span>
                                                                                                        </span>
                                                                                                </td>
                                                                                                <td>#foreach($amenityName
                                                                                                    in
                                                                                                    $ExtraCount.keySet())
                                                                                                    <p style="margin:0px;">
                                                                                                        <span style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 32px; font-size:14px; font-weight:normal;background-color:#ececec; padding-left:15px;padding-right:15px; padding-top:5px; padding-bottom:5px; margin:2px; width:150px; max-width:150px; border-radius:3px; border:#FFF; border-style:solid; border-width:1px;">
                                                                                                            <strong>$amenityName:
                                                                                                            </strong>
                                                                                                            <span>$ExtraCount[$amenityName]
                                                                                                                $ExtraUnit[$amenityName]</span>
                                                                                                        </span>
                                                                                                    </p>
                                                                                                    #end ${Na} </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="42" align="left" class="esd-block-text es-p10t es-m-txt-c"><span
                                                                                            style="font-weight: 700; font-family: 'trebuchet ms', 'lucida grande', 'lucida sans unicode', 'lucida sans', tahoma, sans-serif; padding-bottom:0px; font-size:20px; padding-left:30px; padding-right:20px;"">Total: LKR ${HiringCharge}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="
                                                                                            42" align="left" class="esd-block-text es-p10t es-m-txt-c"><span
                                                                                                style="font-weight: 700; font-family: 'trebuchet ms', 'lucida grande', 'lucida sans unicode', 'lucida sans', tahoma, sans-serif; padding-bottom:0px; font-size:20px; padding-left:30px; padding-right:20px;"">Advance paid: LKR ${AdvancedCharge}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="
                                                                                                42" align="left" class="esd-block-text es-p10t es-m-txt-c"><span
                                                                                                    style="font-weight: 700; background-color:#f64d52; color:#FFF; font-family: 'trebuchet ms', 'lucida grande', 'lucida sans unicode', 'lucida sans', tahoma, sans-serif; padding-bottom:0px; font-size:20px; margin:20px;padding:10px;"">Balance payable at venue: LKR ${PendingCharge}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="
                                                                                                    42" align="left"
                                                                                                    class="esd-block-text es-p10t es-m-txt-c">
                                                                                                    <p style="line-height: 21px; padding:10px 0px 0px 20px;"><span
                                                                                                            style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:16px; font-weight:normal;">
                                                                                                            On the day
                                                                                                            of the
                                                                                                            event, your
                                                                                                            guest will
                                                                                                            present
                                                                                                            either a
                                                                                                            printed or
                                                                                                            mobile
                                                                                                            version of
                                                                                                            their email
                                                                                                            confirmation
                                                                                                            as booking
                                                                                                            proof.</span></p>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>

                                                                                    <td height="42" align="left" class="esd-block-text es-p10t es-m-txt-c"
                                                                                        style="line-height: 21px; padding:0px 20px 10px 20px;"><span
                                                                                            style="font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif; line-height: 21px; font-size:16px; font-weight:normal; ">Best
                                                                                            of luck!<br />
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                        </table>
                        <table class="es-footer esd-footer-popover" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" esd-custom-block-id="3511" align="center">
                                        <table class="es-footer-body" style="background-color: rgb(232, 232, 228);"
                                            width="600" cellspacing="0" cellpadding="0" bgcolor="#e8e8e4" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure es-p30" esd-general-paddings-checked="false"
                                                        align="left" bgcolor="#fcfcfc" style="background-color: rgb(252, 252, 252); padding:20px;">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="esd-container-frame" width="580" valign="top"
                                                                        align="center">
                                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="esd-block-image es-p10b"
                                                                                        align="center" style="padding-bottom:0px;">
                                                                                        <a target="_blank">
                                                                                            <img class="adapt-img" src="http://res.cloudinary.com/dgcojyezg/image/upload/v1511953879/email-templates/logo-footer2.png"
                                                                                                width="100" alt="ms logo"
                                                                                                title="ms logo"> </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-text es-p15t es-p5b"
                                                                                        align="center">
                                                                                        <p style="line-height: 28px;">
                                                                                            <span style="font-family: 'source sans pro', 'helvetica neue', helvetica, arial, sans-serif; line-height: 28px; color:#828282; font-size:15px;">61,
                                                                                                1st Level, Janadhipathi
                                                                                                Mawatha,
                                                                                                Colombo 1, Sri Lanka</span>
                                                                                            <br />
                                                                                            <span style="font-family: 'source sans pro', 'helvetica neue', helvetica, arial, sans-serif; line-height: 16px; color:#828282; font-size:15px;">
                                                                                                <strong>T:</strong> 011
                                                                                                7 811 811&nbsp;
                                                                                                <strong>E:</strong>&nbsp;
                                                                                                <a target="_blank" href="mailto:${millionSpacesEmailLink}">${millionSpacesEmailLink}
                                                                                                </a>
                                                                                            </span>
                                                                                            <br />
                                                                                            <span style="font-family: 'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;color:#828282; font-size:15px;">©
                                                                                                All Rights
                                                                                                Reserved,&nbsp;MillionSpaces</span>
                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="esd-block-social es-p10t es-p20b"
                                                                                        align="center">
                                                                                        <table class="es-table-not-adapt es-social"
                                                                                            cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td width="50"
                                                                                                        align="center"
                                                                                                        valign="top">
                                                                                                        <a target="_blank"
                                                                                                            href="${millionSpacesFacebookUrl}">
                                                                                                            <img title="Twitter"
                                                                                                                src="http://res.cloudinary.com/dgcojyezg/image/upload/v1509511980/email-templates/fb.png"
                                                                                                                alt="Tw"
                                                                                                                height="34"
                                                                                                                width="35">
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <td width="50"
                                                                                                        align="center"
                                                                                                        valign="top">
                                                                                                        <a target="_blank"
                                                                                                            href="${millionSpacesTwitterUrl}">
                                                                                                            <img title="Facebook"
                                                                                                                src="http://res.cloudinary.com/dgcojyezg/image/upload/v1509511980/email-templates/twitter.png"
                                                                                                                alt="Fb"
                                                                                                                height="34"
                                                                                                                width="35">
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <td width="50"
                                                                                                        align="center"
                                                                                                        valign="top">
                                                                                                        <a target="_blank"
                                                                                                            href="${millionSpacesInstagramUrl}">
                                                                                                            <img title="Facebook"
                                                                                                                src="http://res.cloudinary.com/dgcojyezg/image/upload/v1509511980/email-templates/instagram.png"
                                                                                                                alt="Fb"
                                                                                                                height="34"
                                                                                                                width="35">
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>